html {
    background-color: thistle;
}

body {
    width: 800px;
    margin: auto;
}

body p {
    padding-left: 175px;
    padding-right: 175px;        
}

section {
    background-color: #b1000099;
    border-right-style: solid;
    border-left-style: solid;
}

ul {
    list-style-type: none;
    margin: 3px;
    display: inline-block;
    padding: 0px;
}

h1 {
    font-style: italic;
    margin: 0px;
}

h2 {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 4px;
}

article p {
    margin: auto;
    max-width: 450px;
    text-align: center;
}

header {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    padding-top: 3px;
    text-align: center;
    background-color: rgb(177, 0, 0);
}

header p {
    margin: 0px;
}

article {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 3px;
}

nav {
    background-color: #b10000cc;
    text-align: center;
    
    
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-right-style: solid;
    border-left-style: solid;
}

img {
    max-width: 480px;
    max-height: 480px;
    height: auto; 
}

footer {
    height: 20px;
    display: block;
    text-align: center;
    background-color: black;
    color: white;
}